*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url('1.jpg'); 
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    
    width: 100%;
    height: 75px;
    margin: auto;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    padding-left: 60px;
}
.menu{
    float: right;
    height: 70px;
    left: auto;
    right: 0px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 110px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: 550;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgba(54, 54, 196, 0.966);
}

.search{
    width: 330px;
    display: flex;
    float: left;
    margin-left: 270px;

}
.srch{
    font-family: 'Time New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;   
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100%;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    /* border-radius: 5px; */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;

}
.content{
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100vh;
    /* margin: auto; */
    margin-top: 130px;
    margin-left: 40px;
     
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family: 'Time New Roman';
    font-size: 50px;
    padding-left: 20px;
    /* margin-top: 9%; */
    letter-spacing: 2px;


}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: #000000;
    transition: .3s ease;

    
}
.cn:hover{
    background-color: rgb(255, 255, 255);
}

/* .cn a:hover{
    color: black;
    font-weight: 700;
} */

.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    float: left;
    margin-left: 620px;
    background: linear-gradient(to top, rgb(34, 33, 33),rgb(2, 2, 2));
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #141212;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}
.lg{
    width: 240px;
    height: 40px;
    background: #352f2a;
    border: none;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease;
    
}
.lg:hover{
    background: #000000;
    color: #ff7200;
}
.lg a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 23px;
    padding-top: 5px;
    transition: 0.3s ease;

}
.icons ion-icon:hover{
    color: #ff7200;
}